<!DOCTYPE html>
<html lang="en">
<head>
  <title>NRP test request</title>
  <link rel="stylesheet" media="all" href="application.css" />
</head>
<body>
  <header class="container-fluid">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">
      <img src="neurolibre_logo.svg" width="48" height="48" />
    </a>
  </nav>
  </header>

<center><h2> PDF test builds have been moved to GitHub actions. Please see <a href="https://docs.neurolibre.org">https://docs.neurolibre.org</a></h2></center>