<!DOCTYPE html>
<html lang="en">
<head>
  <title>RoboNeuro preview page</title>
  <link rel="stylesheet" media="all" href="application.css" />
</head>
<body>
  <header class="container-fluid">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">
      <img src="neurolibre_logo.svg" width="48" height="48" />
    </a>
  </nav>
  </header>

  <div class="container">
    <div class="row justify-content-lg-center">
      <div class="col-lg-8">
        <center><img style="height:20vh;" src="https://github.com/neurolibre/brand/blob/main/png/preview_magn.png?raw=true"></center>
        <br>
        <center><h4>If you structured your GitHub repository according to <a href="https://docs.neurolibre.org/en/latest/STRUCTURE.html" target="_blank">NeuroLibre guidelines</a> and <a href="https://github.com/neurolibre/info/issues/new?assignees=agahkarakuzu&labels=DOWNLOAD&projects=&template=data_cache.md&title=" target="_blank">opened an issue</a> for NeuroLibre to cache your data (if applicable), you can try building your preprint here!</h4></center>
        <p><i class="fas fa-book"></i><b>Reproducible preprint</b> selection will trigger a build for your software environment and executable (if specified) preprint. </p>
        <details>
        <summary>Steps</summary>
        <ul>
        <li> Enter the location of your Git repository (e.g., https://github.com/neurolibre/template or neurolibre/template)</li>
        <li> Enter the <strong>full</strong> <code>commit sha</code> at which the NRP will be built.</li>
        <li> Enter your email address and click the <code>Compile preprint</code> button. We will send you the results when the build is completed. </li>
        </ul>
        </details>
        <br>
        <p><i class="fas fa-file-pdf"></i><b>Summary PDF</b> option will take action only for MyST formatted repositories. Please see <a href="https://docs.neurolibre.org"> the documentation </a> to learn how to use GitHub actions for (non-MyST) PDF builds.</p>
        <details>
        <summary>Steps</summary>
          <ul>
            <li> Enter the location of your Git repository (e.g., https://github.com/neurolibre/template or neurolibre/template)</li>
            <li> Enter the <strong>full</strong> <code>commit sha</code> at which the PDF will be built.</li>
            <li> Enter your email address and click the <code>Compile preprint</code> button. We will send you the results when the build is completed. </li>
          </ul>
        </details>
        <br>
        <form id="preview-form" action="/neurolibre" accept-charset="UTF-8" method="post">
          <div class="form-group">
            <div class="row">
              <div class="col">
                <label for="repository">Preprint repository (REQUIRED)</label>
                <input placeholder="https://github.com/neurolibre/template or neurolibre/template" class="form-control" type="text" name="repository" id="repository" />
              </div>
              <div class="col">
                <label for="branch">Commit sha (REQUIRED)</label>
                <input placeholder="Commit reference" class="form-control" type="text" name="branch" id="branch" />
              </div>
              <div class="col">
              <label for="email">Email address (REQUIRED)</label>
              <input placeholder="user@mail.com" class="form-control" type="text" name="email" id="email" />
            </div>
            </div>
          </div>
          <div class="form-group">
            <label for="journal">Compile:</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="journal" id="nlnb" value="Reproducible Preprint" checked>
              <label class="form-check-label" for="inlineRadio2">Reproducible Preprint</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="journal" id="nlpaper" value="Summary PDF">
            <label class="form-check-label" for="inlineRadio1">Summary PDF</label>
          </div>
          </div>
          <div class="form-actions">
            <input type="submit" name="commit" value="Compile preprint" class="btn" data-disable-with="Update profile" />
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
