<!DOCTYPE html>
<html lang="en">
<head>
  <title>RoboNeuro preview page</title>
  <link rel="stylesheet" media="all" href="application.css" />
  <style>
    p {
      color: black;
    }
  </style>
</head>
<body>

  <div class="container">
    <div class="row justify-content-lg-center">
      <div class="col-lg-8">
        <center><img style="height:20vh;" src="https://github.com/neurolibre/brand/blob/main/png/preview_magn.png?raw=true"></center>
        <br>
        <hr>
        <center><h4>Structured your GitHub repository according to <a href="https://docs.neurolibre.org/en/latest/STRUCTURE.html" target="_blank">NeuroLibre guidelines</a>? <a href="https://github.com/neurolibre/info/issues/new?assignees=agahkarakuzu&labels=DOWNLOAD&projects=&template=data_cache.md&title=" target="_blank">Opened an issue</a> for NeuroLibre to cache your data (if applicable)? Successfully built a <a href="https://binder-preview.neurolibre.org" target="_blank">Binder</a> for your repository (if executable)? You can try building your living preprint here!</h4></center>
        <hr>
        <p><i class="fas fa-file-pdf"></i><b>Does your preprint contain executable content?</b></p>
        <details>
        <summary>More information</summary>
        <p>Select whether your preprint includes code that needs to be executed (like Python notebooks, R scripts, etc.).</p>
          <ul>
            <li> Select <b>Yes</b> if your preprint contains code that needs to run. This requires a successful <a href="https://binder-preview.neurolibre.org" target="_blank">NeuroLibre Binder</a> build. You'll need to provide the specific commit SHA (from your repository) at which a Binder was successfully built. </li>
            <li> Select <b>No</b> if your preprint only contains static content (like Markdown, LaTeX files, or notebooks without code) that doesn't require any code execution. </li>
          </ul>
        </details>
        <br>
        <p><i class="fas fa-book"></i><b>Living preprint</b> inputs </p>
        <details>
        <summary>Steps</summary>
        <ul>
        <li>Enter your email address where you'd like to receive build notifications</li>
        <li>Enter your GitHub repository URL (e.g., https://github.com/neurolibre/mystical-article  ) or shorthand format (e.g., neurolibre/mystical-article)</li>
        <li>If you selected "Yes" for executable content, enter the full commit hash of your successful <a href="https://binder-preview.neurolibre.org" target="_blank">Binder</a> build</li>
        <li>Click "Build preprint" to start the build. You'll receive email notifications about the build progress and results.</li>
        </ul>
        </details>
        <br>
        <form id="preview-form" action="/neurolibre" accept-charset="UTF-8" method="post">
          <div class="form-group">
            <div class="row">
              <div class="col">
                <label for="email">Email address (REQUIRED)</label>
                <input placeholder="user@mail.com" class="form-control" type="text" name="email" id="email" />
              </div>
            <div class="col">
              <label for="repository">Preprint repository (REQUIRED)</label>
                <input placeholder="https://github.com/neurolibre/mystical-article or neurolibre/mystical-article" class="form-control" type="text" name="repository" id="repository" />
              </div>
              <div class="col">
                <label for="branch">Binder commit reference (REQUIRED)</label>
                <input placeholder="Commit ref for successful Binder build" class="form-control" type="text" name="branch" id="branch" />
              </div>

            </div>
          </div>
          <div class="form-group">
            <label for="journal">Executable Content</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="journal" id="nlnb" value="True" checked>
              <label class="form-check-label" for="inlineRadio2">Yes</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="journal" id="nlpaper" value="False">
            <label class="form-check-label" for="inlineRadio1">No</label>
          </div>
          </div>
          <script>
            document.querySelectorAll('input[name="journal"]').forEach(radio => {
              radio.addEventListener('change', function() {
                const branchInput = document.getElementById('branch');
                branchInput.disabled = this.value === 'False';
                if (this.value === 'False') {
                  branchInput.value = '';
                }
              });
            });
          </script>
          <div class="form-actions">
            <input type="submit" name="commit" value="Compile preprint" class="btn" data-disable-with="Update profile" />
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
