<!DOCTYPE html>
<html lang="en">
<head>
  <title>NRP test request</title>
  <link rel="stylesheet" media="all" href="application.css" />
</head>
<body>
  <header class="container-fluid">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">
      <img src="neurolibre_logo.svg" width="48" height="48" />
    </a>
  </nav>
  </header>

<h2> Your request have been received, please check your email.</h2>